.tt-active-candidate {
  background-color: rgba(211, 211, 211, 0.5);
}

#tt-candidate-tabs {
  display: block;
  max-height: 500px;
  overflow-y: scroll;
}

.tt-candidate {
  height: 50px;
}

.tt-candidate img {
  margin: 5px 5px 5px 5px;
}

.tt-candidate-title-url p {
  min-width: 600px;
  margin: 0;
}

.tt-candidate-title {
  font-size: 10pt;
}

.tt-candidate-url {
  color: gray;
}