.tt-active-candidate {
  background-color: yellow;
}

.tt-candidate img {
  margin: 5px 5px 5px 5px;
}

.tt-candidate-title-url p {
  overflow: hidden;
  min-width: 600px;
  margin: 0;
}

.tt-candidate-title {
  font-size: 10pt;
}

.tt-candidate-url {
  color: gray;
}